.form-control {
  @apply flex flex-col;
}

.label {
  @apply flex select-none align-center justify-between py-2 px-1;
}

.label-text {
  @apply text-sm
}

.validation-text {
  @apply text-error text-xs mt-2 ml-1;
}

.ipt {
  @apply border-0 border-base-gray-300 bg-base-100 rounded-$rounded-btn transition duration-200 ease-in-out h-12 px-4 text-sm leading-loose w-full;

  &:focus {
    outline: 2px solid rgb(var(--base-gray-300));
    outline-offset: 2px;
  }

  &.ipt-bordered {
    @apply border-1 border-opacity-60;
  }

  &.ipt-ghost {
    @apply bg-base-100/0;
  }

  &.ipt-xs {
    @apply leading-relaxed;
  }

  &.ipt-sm {
    @apply leading-8;
  }

  &.ipt-md {
    @apply leading-loose;
  }

  &.ipt-lg {
    @apply leading-loose;
  }

  &.ipt-primary {
    @apply !border-primary;

    &:focus {
      outline: 2px solid rgb(var(--primary));
      outline-offset: 2px;
    }
  }

  &.ipt-secondary {
    @apply !border-secondary;

    &:focus {
      outline: 2px solid rgb(var(--secondary));
      outline-offset: 2px;
    }
  }

  &.ipt-success {
    @apply !border-success;

    &:focus {
      outline: 2px solid rgb(var(--success));
      outline-offset: 2px;
    }
  }

  &.ipt-warning {
    @apply !border-warning;

    &:focus {
      outline: 2px solid rgb(var(--warning));
      outline-offset: 2px;
    }
  }

  &.ipt-error {
    @apply !border-error;

    &:focus {
      outline: 2px solid rgb(var(--error));
      outline-offset: 2px;
    }
  }

  &.ipt-error {
    @apply !border-error;

    &:focus {
      outline: 2px solid rgb(var(--error));
      outline-offset: 2px;
    }
  }

  &:disabled {
    @apply cursor-not-allowed bg-opacity-20 text-base-text text-opacity-80 placeholder-base-gray-400/40;
  }

}